body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
nav{
    text-decoration: none;
    list-style: none;
    height: 70px;
    width: 100%;
    background-color: teal;
    border-radius: 5px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav li{
    display: inline-block;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 0 100px;
    line-height: 80px;
}
#first{
    color: rgba(0, 0, 0, 0.753);
}
span{
    color: cornflowerblue;
}
section{
    display: flex;
    padding: 5%;
    margin-bottom: 50px;
}
.part{
    width: 50%;
    text-align: justify;
}
.part img{
    width: 100%;
    height: 100%;
}
#about{
    background-image: url(photos/bg-6.jpg);
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(#1bb9b1, #114a9e);
    color: white;
    border-radius: 5px;
}
#menu{
    text-align: center;
}
.food{
    width: 25%;
    padding: 2%;
    margin: 5%;
    text-align: justify;
    border-radius: 20px;
    box-shadow: 5px 10px 15px gray;
}
.food img{
    height: 180px;
}
#opacity{
    color: rgba(128, 128, 128, 0.795);
}
#fan{
    width: 80%;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px 15px gray;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
}
.follower{
    height: 120px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 50px;
    margin-top: 20px;
}
footer{
    background-color: rgb(23, 25, 36);
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}
#eat{
    color: white;
}
#copyright{
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    background-color:  rgb(23, 25, 36);
    color: darkgrey;
}